*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
===================
Fonts
===================
*/
@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir/Vazir-Bold-FD-WOL.woff") format("woff2"),
      url("../fonts/vazir/Vazir-FD-WOL.woff") format("woff"),
      url("../fonts/vazir/Vazir-FD-WOL.ttf") format("truetype");
  }

  /*
===================
Variables
===================
*/
:root {
  --clr-primary: #e2711d;
  --clr-primary-light: #ffb627;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "vazir", sans-serif;
  --transition: all .3s linear;
  --reduis: .5rem;
}
@media screen and (min-width: 800px) {
  h1{
    font-size: 2rem;
  }
    h2{
      font-size: 1.75rem;
  
    }
    h4{
      font-size: 1.25rem;
    }
}
h1{
  font-size: 1.75rem;
}
  h2{
    font-size: 1.5rem;

  }
  h4{
    font-size: 1rem;
  }
body{
  background: var(--clr-white);
  color: var(--clr-grey-5);
  text-align: right;
  direction: rtl;
  font-size: 1rem;
}
a{
  text-decoration: none;
}
.header{
  height: 100vh;
  position: relative;
  background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/header.jpg) center/cover no-repeat fixed;
}
.banner{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
  width: 100%;
}
.banner h1{
  color: var(--clr-primary);
  margin-bottom: 2rem;
}
.banner h2{
  color: var(--clr-white);
  margin-bottom: 3rem;
}
.btn{
  padding: .5rem 1rem;
  border-radius: var(--reduis);
  background: var(--clr-primary);
  color: var(--clr-white);
}
.btn:hover{
   transition: var(--transition);
   background: var(--clr-primary-light);
   color: var(--clr-primary);
}
.btn-banner{
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: .25rem;
}
.content-divider{
  height: .5rem;
  background: linear-gradient(to left, var(--clr-primary), var(--clr-primary-light), var(--clr-primary));
}
.features{
  background: var(--clr-grey-10);
}
.feature-item{
  height: 260px;
  text-align: center;
  padding: 2.5rem 0;

}
.feature-item:hover{
  background: var(--clr-white);
  transition: var(--transition);
  box-shadow: 0 2px 0 var(--clr-primary);

}
.feature-item:hover .feature-icon{
  transform: translateY(-5px);
  transition: var(--transition);

}
.feature-icon{
    font-size: 2rem;
    color: var(--clr-primary);
    display: inline-block;
    margin-bottom: 1.25rem;
}
.feature-title{
  margin-bottom: 1rem;
}
.feature-text{
  color: var(--clr-grey-5);
  max-width: 17rem;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .feature-item{
    float: right;
    width: 50%;
  }
  
}
@media screen and (min-width: 1200px) {
  .feature-item{
    float: right;
    width: 25%;
  }
  
}
.clearfix::after, .clearfix::before{
  content: '';
  clear: both;
  display: block;
}